@* @using GDC.EventHost.App.Auth
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Identity

@inject SignInManager<EventHostUser> SignInManager
@inject UserManager<EventHostUser> UserManager 
@inject IAuthorizationService AuthorizationService *@

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/css/fontawesome.css" rel="stylesheet">
    <link href="~/lib/font-awesome/css/brands.css" rel="stylesheet">
    <link href="~/lib/font-awesome/css/solid.css" rel="stylesheet">
    <script src="~/lib/dist/jquery/jquery.js"></script>
    <script src="~/lib/popper.js/umd/popper.min.js"></script>
    <script src="~/lib/dist/bootstrap/js/bootstrap.js"></script>
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>
    <header>

        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white 
             border-bottom box-shadow" role="navigation">
            
            <div class="container">

                <a class="navbar-brand" asp-controller="Home" asp-action="Index">
                    <img src="~/img/eh-logo-interior.png" /></a>
                <div class="navbar-header">
                    <button type="button" class="navbar-toggler" data-toggle="collapse" 
                            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
                            data-target="#navbarSupportedContent">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
                
                <div class="navbar-collapse collapse d-sm-inline-flex" id="navbarSupportedContent">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark btn btn-link" 
                               asp-controller="Events" asp-action="List">Events</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark btn btn-link" 
                               asp-controller="Series" asp-action="List">Series</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark btn btn-link" 
                               asp-controller="Venues" asp-action="List">Venues</a>
                        </li>

                    </ul>

@*                     <ul class="navbar-nav">
                        @if (SignInManager.IsSignedIn(User) && User.IsInRole("Administrator"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark btn btn-link" asp-area="Admin" 
                                   asp-controller="Home" asp-action="Index">
                                    <i class="fas fa-cog"></i>
                                </a>
                            </li>
                            @Html.Raw("&nbsp;")
                        }
                        @await Component.InvokeAsync("ShoppingCartSummary")
                    </ul>*@

                    <partial name="_LoginPartial" /> 
                </div>
            </div>
        </nav>

    </header>

    <div class="container">
        <main role="main" class="pb-3">
            <br />
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            <div class="navbar-collapse collapse d-sm-inline-flex">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        &copy; 2025 - EventHost - <a asp-area="" asp-page="/Privacy">Privacy</a>
                    </li>
                </ul>
            </div>  
        </div>
    </footer>

    @RenderSection("Scripts", required: false)
</body>
</html>
