@model string

<div class="card">
    <div class="row no-gutters"> 
        <div class="col-md" style="display:flex;align-items:center">
            <div class="card-body">
                @Model
            </div>
        </div>
    </div>
</div>