@model TicketDto

<div class="row eh-bottom-border-solid">
    <div class="col-xl">
        <div class="row eh-row-spacer">&nbsp;</div>
        <div class="row">
            <div class="col-xl eh-pad-bottom eh-left-just">
                @Model.Number
            </div>
        </div>
    </div>
</div>