@model VenueEditVM

@if (string.IsNullOrEmpty(Model.Venue.Name))
{
    <h4>Create Venue</h4>
}
else
{
    <h4>Edit Venue / @Model.Venue.Name</h4>
}
<br />
<form asp-action="Edit" method="post" class="form-horizontal" role="form">

    <div>
        <strong>Please provide details for this venue:</strong>
    </div>
    <br />

    <div asp-validation-summary="All" class="text-danger"></div>
    <input asp-for="Venue.Id" type="hidden" />

    <div class="form-group">
        <label asp-for="Venue.Name" class="col-md-2 control-label"></label>
        <div class="col-md-5">
            <input asp-for="Venue.Name" class="form-control" />
            <span asp-validation-for="Venue.Name" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Venue.Description" class="col-md-2 control-label"></label>
        <div class="col-md-5">
            <input asp-for="Venue.Description" class="form-control" />
            <span asp-validation-for="Venue.Description" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Venue.LongDescription" class="col-md-2 control-label"></label>
        <div class="col-md-5">
            <input asp-for="Venue.LongDescription" class="form-control" />
            <span asp-validation-for="Venue.LongDescription" class="text-danger"></span>
        </div>
    </div>

    <br />

    <div class="form-group">
        <div class="col-md-offset-2 col-md-5">
            <a class="btn btn-sm btn-outline-dark"
               href="javascript:history.go(-1)">Cancel</a>&nbsp;
            <input class="btn btn-sm btn-outline-dark"
                   type="submit" value="Save" />
        </div>
    </div>

</form>