@using GDC.EventHost.App.Areas.Admin.ViewModels
@model MessageVM

<h4>Email System Test</h4>
<br />

<h6>Response from the provider:</h6>
<br />
@Model.TheMessage
<br />
<br />
<a asp-area="Admin"
   asp-controller="Home"
   asp-action="Index"
   class="btn btn-sm btn-outline-dark">
    Back to Menu
</a>