@using GDC.EventHost.App.Areas.Admin.ViewModels
@model PerformanceEditVM

@if (Model.PerformanceForUpdate.Id == Guid.Empty)
{
    <h4>Create Date / @Model.PerformanceTitle</h4>
}
else
{
    <h4>Edit Date / @Model.PerformanceTitle</h4>
}

<br />

<form asp-action="Edit" method="post" class="form-horizontal" role="form">

    <div>
        <strong>Please provide details for this event date:</strong>
    </div>
    <br />

    <div asp-validation-summary="All" class="text-danger"></div>

    <input asp-for="PerformanceForUpdate.Id" type="hidden" />
    @* <input asp-for="PerformanceForUpdate.SeatingPlanId" type="hidden" /> *@

    <div class="form-group">
        <label asp-for="PerformanceForUpdate.Date" class="col-md-2 control-label"></label>
        <div class="col-md-5">
            <input asp-for="PerformanceForUpdate.Date" class="form-control" />
            <span asp-validation-for="PerformanceForUpdate.Date" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-2 control-label">Event</label>
        <div class="col-md-5">
            @if (Model.PerformanceForUpdate.Id == Guid.Empty)
            {
                <select asp-for="PerformanceForUpdate.EventId" 
                    asp-items="Model.EventList" class="form-control">
                    <option value="">-- Select One --</option>
                </select>
            }
            else
            {
                // prevent changing the parent event on update
                <input asp-for="PerformanceForUpdate.EventId" type="hidden" />
                <input asp-for="@Model.PerformanceTitle" class="form-control" readonly />
            }
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-2 control-label">Venue</label>
        <div class="col-md-5">
            <select asp-for="PerformanceForUpdate.VenueId" asp-items="Model.VenueList" class="form-control">
                <option value="">-- Select One --</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-2 control-label">Performance Type</label>
        <div class="col-md-5">
            <select asp-for="PerformanceForUpdate.PerformanceTypeId" asp-items="Model.PerformanceTypesList" class="form-control">
                <option value="">--Select One--</option>
            </select>
        </div>
    </div>

    <br />

    <div class="form-group">
        <div class="col-md-offset-2 col-md-5">
            <a class="btn btn-sm btn-outline-dark"
               href="javascript:history.go(-1)">Cancel</a>&nbsp;
            <input class="btn btn-sm btn-outline-dark"
                   type="submit" value="Save" />
        </div>
    </div>

</form>