@using GDC.EventHost.App.Areas.Admin.ViewModels.User
@model UserRoleVM

<h4>Remove User from Role</h4>

<form asp-controller="UserAdmin" asp-action="DeleteUserFromRole">
    <input type="hidden" name="roleId" value="@Model.RoleId" />
    <select asp-for="UserId"
            asp-items="@(new SelectList(Model.Users, "Id", "UserName"))">
        <option>Please select a user</option>
    </select>
    <input class="btn btn-primary" value="Remove" type="submit" />
</form>

<a asp-action="RoleManagement" class="btn btn-primary">Done</a>
